img {
  width: 30%;
  float:left;
  margin: 1.66%;
}

#wrapper {
  margin: 0 auto;
  background-color: lightblue;
}

h1 {
  font-family: 'Lexend Giga', sans-serif;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 40px;
  width: 31.66%;
  padding-bottom: 20px;
  border-bottom: 4px solid lightgrey;
}
